* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  min-height: 100vh;
  width: 100%;
  border: blue 2px solid;
  text-align: center;
}
.map {
  min-height: 100vh;
  width: 100%;
  border: green 2px solid;
}
