.container {
  margin: 5px;
  background-color: #f8f9fb;
  min-width: 400px;
}
.not__found {
  border: blue 2px solid;
  margin: 5px;
  background-color: #f8f9fb;
}
.list {
  border: blue 2px solid;
  list-style-type: none;

  &__item {
    font-size: 18px;
    margin-bottom: 10px;

    &--title {
      display: block;
      height: 26px;
      line-height: 26px;
      color: #000000;
      font-weight: bold;
      padding: 0px 4px;
    }
    &:hover {
      font-size: 20px;
      opacity: 0.8;
      background-color: #a0615f;
    }
  }
}
