.form {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
  @media all and (min-width: 1200px) {
    justify-content: center;
    font-size: 25px;
  }
  &__label {
    margin: 5px;
  }
  &__input {
    text-align: center;
    border-radius: 100px;
    width: 200px;

    &.checkbox {
      text-align: center;
      width: 30px;
      &:checked::before {
        width: 30px;
        background: #3f6cb5;
        color: #fff;
        content: "\2605";
        text-align: center;
      }
    }
  }
}
.searchBar {
  font-size: 18px;
  color: black;
  font-weight: bold;
  width: 300px;
  @media all and (min-width: 768px) {
    margin-right: 90px;
  }
  @media all and (min-width: 1200px) {
    width: 400px;
  }
}
