.container__map {
  padding: 5px;
  margin-right: 10px;
  max-width: 100vw;
  @media all and (min-width: 768px) {
    width: 500px;
  }
}
.mapboxgl-map {
  width: 100vw;
  border: blue 2px solid;
  @media all and (min-width: 768px) {
    width: 500px;
  }
}
